body {
    padding-top:30px;
}
.nopad {
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
}
.article-snapshot {
    background-color:#395167;
    border-radius:7px;
    padding:0 22px 22px 22px;
    margin-bottom:22px;
}