body {
    padding-top:30px;
}
label {
    font-size:15px;
}
.nopad {
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
}
.section {
    background-color:#395167;
    border-radius:7px;
    padding:0 22px 22px 22px;
    margin-bottom:22px;
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.3);
}
.navbar {
    font-size:15px !important;
}
.navbar-brand {
    padding: 9px 15px;
    font-size:22px;
}
.input-textarea {
	width:100%;
}