@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color:#ddd;
    font-family:helvetica, arial, sans-serif;
}
.container-main {
    border:1px solid #999;
    margin:20px auto;
    padding:20px;
    width:750px;
    background-color:#eee;
}