<div class="page-header">
    <h1 id="type">Edit article</h1>
</div>
<div class="row">
    <div class="col-lg-12 section">
        <div class="bs-component">
            <%= render 'form' %>
            <markdown># H1</markdown>
            <div class="col-lg-8">
                <%= link_to 'Cancel', @article %> | <%= link_to 'Articles', articles_path %>
            </div>
        </div>
    </div>
</div>