<h1>Welcome to Bloggit</h1>

<h3>Check out some of our latest articles</h3>
    
<% @latest_articles.each do |article| %>
  <div>
    <div><%= article.name %></div>
    <div><%= article.body %></div>
    <div>Read the full article</div>
  </div>
<% end %>
