<% provide(:title, 'Home') %>
<div class="page-header">
    <h1 id="type">Welcome to Bloggit. Check out some of our latest articles</h1>
</div>
<div class="row">
    <% @latest_articles.each do |article| %>
        <div class="col-lg-12 section">
            <div class="bs-component">
                <h2 class="col-lg-9 nopad"><%= article.title %></h2>
                <div class="clearfix"></div>
                    <%= markdown(truncate(article.body, length: 300)).html_safe %><br />
                <%=link_to('Read the full article', "articles/#{article.id}") %>
            </div>
        </div>
    <% end %>
</div>

