<h1>Welcome to Bloggit</h1>

<h3>Check out some of our latest articles</h3>
    
<% @latest_articles.each do |article| %>
    <div class="article">
        <div class="title"><%= article.title %></div>
        <div class="body"><%= truncate(article.body, length: 150) %></div>
        <div class="full">Read the full article</div>
    </div>
<% end %>
